* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
}

.logo a {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: #3a3a3a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 0px 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
}

/*====== banner-area======= */
.banner {
    display: flex;
    align-items: center;
    background-image: url(images/Circle\ design.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.text-area h1 {
    font-size: 50px;
    font-weight: 900;
    color: #3a3a3a;
}

.text-area p {
    margin: 20px 0;
}

.btn {
    padding: 12px 30px;
    background-color: #e02c6d;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 400;
    margin: 10px 0;
    display: inline-block;

}

.btn i {
    margin-left: 4px;
}




/*====== mobile device responsive===== */

@media screen and (max-width:576px) {
    .container {
        width: 100%;
        margin: 20px 10px;
    }
    nav{
        margin: 20px 0;
    }
    nav,
    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu li a {
        margin:10px 0;
        font-size: 18px; 
    }
    .banner {
        flex-direction: column-reverse;
        background-position: top ;
        padding: 0px 10px;
        text-align: center;
    }
    .text-area h1 {
        font-size: 30px;
        
    }
}


/*======= tablet responsive==== */
@media screen and (min-width:577px) and (max-width:992px) {
    .container {
        width: 100%;
        margin: 20px 10px;
    }
    nav{
        margin: 20px 0;
    }
    nav,
    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu li a {
        margin:10px 0;
        font-size: 18px; 
    }
    .banner {
        flex-direction: column-reverse;
        background-position: top ;
        padding: 0px 10px;
        text-align: center;
    }
    .text-area h1 {
        font-size: 30px;
        margin: 10px 0;
    }
    .text-area p{
        margin: 0px 100px;
    }
}